*.pyc
*.pyo
__pycache__/
.ipynb_checkpoints
.env
venv/
env/
*.sqlite3
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.mypy_cache/
.pyre/
.pytype/
.pytest_cache/
celerybeat-schedule
instance/
.webassets-cache
.scrapy
docs/_build/
target/
*.log
*.pot
*.mo
*.db
*.sqlite